In [2]:
import pandas as pd
import datetime

# 1~12월 대여소별 데이터 불러오기
rental_2301 = pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_2301.csv', encoding='cp949')
rental_2302 = pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_2302.csv', encoding='cp949')
rental_2303 = pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_2303.csv', encoding='cp949')
rental_2304 = pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_2304.csv', encoding='cp949')
rental_2305 = pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_2305.csv', encoding='cp949')
rental_2306 = pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_2306.csv', encoding='cp949')
rental_2307 = pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_2307.csv', encoding='cp949')
rental_2308 = pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_2308.csv', encoding='cp949')
rental_2309 = pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_2309.csv', encoding='cp949')
rental_2310 = pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_2310.csv', encoding='cp949')
rental_2311 = pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_2311.csv', encoding='cp949')
rental_2312 = pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_2312.csv', encoding='cp949')

# 표본 데이터 불러오기
sample = pd.read_csv('[상위 30개]2023년 따릉이 대여소별 대여반납건수(반납건수-대여건수 내림차순)_240512.csv', encoding='cp949')

In [3]:
# 필요하지 않은 변수는 추후 드랍할 예정이지만 다른 데이터프레임과 형식을 통일 하기 위해 임의로 수정
# 12월의 이동거리 변수만 열 이름이 '이동거리(M)'이 아닌 '이동거리'로 되어있음, 이용시간(분) 변수는 없음
rental_2312.rename(columns= {'이동거리' : '이동거리(M)'}, inplace=True)
rental_2312['이용시간(분)'] = 0
rental_2312

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2023-12-01,0,3517,3517. 용마사거리,정기권,NaN,~10대,1,6.88,0.40,1738.19,0
1,2023-12-01,0,1569,1569.수유역2번출구,정기권,NaN,~10대,1,78.37,0.61,2638.76,0
2,2023-12-01,0,736,736. 오솔길공원,정기권,NaN,20대,1,40.91,0.32,1377.52,0
3,2023-12-01,0,740,740. 으뜸공원,정기권,NaN,20대,1,90.50,0.53,2285.26,0
4,2023-12-01,0,505,505. 자양사거리 광진아크로텔 앞,정기권,NaN,20대,1,21.38,0.21,900.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1954954,2023-12-31,23,1526,1526. 강북종합시장 앞,정기권,M,기타,1,37.36,0.26,1110.00,0
1954955,2023-12-31,23,1986,1986. 태평양물산빌딩,정기권,M,기타,1,20.29,0.18,776.29,0
1954956,2023-12-31,23,293,293. 충북 미래관,정기권,M,기타,1,14.67,0.12,529.22,0
1954957,2023-12-31,23,779,779. 신정1동 주민센터 앞,정기권,M,기타,1,87.44,0.64,2760.00,0
1954958,2023-12-31,23,122,122. 신성기사식당 앞,정기권,M,기타,1,44.22,0.33,1431.63,0

In [4]:
sample

    대여소번호                      대여소명   자치구    대여건수    반납건수  반납건수-대여건수
0     574                  아차산역4번출구   광진구   39597   22567     -17030
1     711               신일해피트리아파트 앞   양천구   17370    2900     -14470
2    3513                상왕십리역 1번출구   성동구   30022   19156     -10866
3     623              서울시립대 정문 앞 B  동대문구   27664   16886     -10778
4    1126  우장산역 1번출구옆(우장산아이파크105동앞)   강서구   27603   16930     -10673
5     207              여의나루역 1번출구 앞  영등포구  113094  102439     -10655
6     584                  광진광장 교통섬   광진구   42593   31953     -10640
7    1692                  온곡초교 교차로   노원구   27991   18358      -9633
8    2712                 화곡터널입구교차로   강서구   13681    4377      -9304
9    4591                   신길자이아파트  영등포구   10961    2570      -8391
10   2405                 청담공원앞 교차로   강남구   12461    4288      -8173
11   3758                서울남부출입국관리소   강서구   29369   21373      -7996
12    434              신당 래미안 버스정류장    중구    8248     489      -7759
13   2349            역삼빌딩 앞(하나은행 옆)   강남구   10604    3410      -7194
14   1924                 삼부르네상스파크빌   구로구   14338    7272      -7066
15   1430                      중랑구청   중랑구   15527    8599      -6928
16   1199                 우장산역 3번출구   강서구   24029   17105      -6924
17    213                       KT앞  영등포구   34647   27768      -6879
18   1428                    원묵고등학교   중랑구   16544    9700      -6844
19    497                 합정동주민센터 앞   마포구   32358   25642      -6716
20   4621                   남산도서관 앞   용산구    8749    2124      -6625
21   4221         솔리스타오피스텔(공덕동주민센터)   마포구    8168    1808      -6360
22    162                  봉원고가차도 밑  서대문구    9703    3343      -6360
23    725                양강중학교앞 교차로   양천구   10013    3809      -6204
24   3642              LH강남힐스테이트아파트   강남구    9612    3508      -6104
25    474        동대문역사문화공원역 1번출구 뒤편    중구   30286   24202      -6084
26   4009                     월계프라자   노원구    9922    3851      -6071
27   1854             가산아네스트 오피스텔 앞   금천구    9901    3871      -6030
28    720                서울강월초등학교 앞   양천구   11383    5400      -5983
29   1175               대한항공 인력개발센터   강서구   20441   14596      -5845

In [5]:
# 표본으로 사용할 대여소번호 목록
sample_num = sorted(list(sample['대여소번호']))

In [6]:
# 월별 시간대별 이용정보를 전처리하기 쉽도록 정제하는 함수
# 23년 1월 데이터를 활용한 02-1 예제 파일을 확인하면 가공 과정을 상세히 확인 가능

def convert_rental_df(rental_month, sample_num):
    converted_df = rental_month.copy()
    converted_df.drop(['대여구분코드', '성별', '연령대코드', '운동량', '탄소량', '이동거리(M)', '이용시간(분)'], axis=1, inplace=True)

    '''샘플 외 대여소는 제거하기 위해 제거할 인덱스 추출'''
    # 제거할 인덱스 목록을 담을 리스트
    del_idx_list = []
    
    # 월별(시간대별) 이용정보 데이터프레임을 순환하면서 샘플 외 대여소 정보가 있는 인덱스 수집
    for idx in converted_df.index:
        rental_num = converted_df.loc[idx]['대여소번호']
        if rental_num not in sample_num:
            del_idx_list.append(idx)
    
    # 샘플 외 대여소 정보는 삭제
    converted_df.drop(del_idx_list, inplace=True)
    
    
    ''' 잘못된 변수명 변경 : 대여소명 (233. 정류소이름) -> (정류소이름) 으로 변경'''
    # 새로운 변수명 담을 리스트
    new_name = []

    for name in list(converted_df['대여소명']):
        # '.'을 기준으로 분리 후 정류소 이름만 취하기
        name = name.split('.')[1]
        # 앞뒤 공백 제거
        name = name.strip()
        new_name.append(name)
        
    # 대여소명 열 이름만 남도록 수정
    converted_df['대여소명'] = new_name
    
    # 대여일자 - 대여시간 - 대여소번호 별로 정렬
    converted_df.sort_values(by=['대여일자', '대여시간', '대여소번호'], inplace=True)
    
    # 인덱스 초기화
    converted_df = converted_df.reset_index(drop=True)
    
    return converted_df

In [7]:
# 새로운 월별 집계 데이터프레임 생성 및 대여건수 집계 함수
def create_station_rental(converted_month_df, month):
    '''월별 연도-월-날짜 문자열 형태로 담을 리스트 생성'''
    month_dates = []
    
    if month in [1, 3, 5, 7, 8, 10, 12]:
        # 31일까지 있는 달
        if month < 10:
            str_month = '2023-' + '0' + str(month) + '-'
        else:
            str_month = '2023-' + str(month) + '-'
        
        for date in range(1, 32):
            if date < 10:
                str_date = '0' + str(date)

            else:
                str_date = str(date)
            month_dates.append(str_month + str_date)
                
    elif month == 2:
        # 28일까지만 있는 2월
        str_month = '2023-02-'
        
        for date in range(1, 29):
            if date < 10:
                str_date = '0' + str(date)
            else:
                str_date = str(date)
            month_dates.append(str_month + str_date)
        
    elif month in [4, 6, 9, 11]:
        # 30일까지 있는 4, 6, 9, 11월
        if month < 10:
            str_month = '2023-' + '0' + str(month) + '-'
        else:
            str_month = '2023-' + str(month) + '-'
            
        for date in range(1, 31):
            if date < 10:
                str_date = '0' + str(date)
            else:
                str_date = str(date)
            month_dates.append(str_month + str_date)
    
  
    '''대여소별 월별 집계 데이터프레임 생성'''
    station_rental_month = pd.DataFrame(columns=['대여일자', '대여시간', '대여소번호', '대여소명', '이용건수'])
    # 집계할 데이터 프레임의 열, 행 생성
    # 대여소별 일-시간대-이용건수 생성 : 이용건수는 모두 0으로 설정 (추후 데이터에 맞게 추가)

    # idx : 집계 데이터의 인덱스
    idx = 0

    for date in month_dates:
        for sample_idx in sample.index:
            # 표본 데이터 순환하며 표본 데이터별 날짜-시간대-대여견수 데이터 생성
            for time in range(24):
                # 하루의 24시간을 만들기 위해 24순환
                new_line = [date, time, sample.loc[sample_idx]['대여소번호'], sample.loc[sample_idx]['대여소명'], 0]
                station_rental_month.loc[idx] = new_line
                idx += 1
                
    # 23년 month월 대여정보를 통해 집계 데이터프레임에 대여건수 추가
    # 시간대별 이용건수 데이터프레임을 순환하며 이용건수를 대여소+시간대별 데이터프레임에 추가
    for idx in converted_month_df.index:
        info = converted_month_df.loc[idx]
        date = info['대여일자']
        time = info['대여시간']
        station_num = info['대여소번호']
        # staion_name = info['대여소명'] 은 불필요
        rental_num = info['이용건수']
        
        # 수정 (이용건수 추가할) 인덱스를 위 조건에 따라 추출
        modify_index = station_rental_month[(station_rental_month['대여일자'] == date) & (station_rental_month['대여시간'] == time) & (station_rental_month['대여소번호'] == station_num)].index
        # 수정 인덱스의 이용건수에 추가
        station_rental_month.loc[modify_index, '이용건수'] += rental_num
    
    '''날짜별로 평일 / 평일 외 구분하는 데이터 열 및 행 추가'''    
    # 평일인지, 평일이 아닌지(주말, 공휴일)는 대여건수에 영향을 미치는 변수
    # 대여일자가 평일인지 주말인지 datetime의 weekday() 함수를 통해 요일을 구분
    # 0, 1, 2, 3, 4 = 월, 화, 수, 목, 금 = 평일
    # 5, 6 = 토, 일 = 주말

    # 평일구분 열 추가 -> 값 : '평일' or '평일 외'

    station_rental_month['평일구분'] = ''

    for idx in station_rental_month.index:
        date = station_rental_month.loc[idx]['대여일자']
        # 기존 문자열을 datetime 변수로 변환
        convert_date = datetime.datetime.strptime(date, '%Y-%m-%d')
        # 요일 반환 (0~6)
        day = convert_date.weekday()
        if day < 5:
            station_rental_month.loc[idx, '평일구분'] = '평일'
        else:
            station_rental_month.loc[idx, '평일구분'] = '평일 외'
            
    return station_rental_month

In [8]:
# 2023 월별 시간대별 이용정보 데이터
rental_2023 = [rental_2301, rental_2302, rental_2303, rental_2304, rental_2305, rental_2306, rental_2307, rental_2308, rental_2309, rental_2310, rental_2311, rental_2312]

In [9]:
# 월별로 집계 데이터프레임을 담을 리스트 생성
month_station_rental_df = []
# 1년의 12달을 담은 리스트 생성
months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for month_data, month in zip(rental_2023, months):
    # converted_rental_df : 월별 시간대별 이용정보를 전처리하기 쉽도록 정제하는 함수 (위 함수 확인)
    # 월별 데이터를 표본 대여소만 남기고, 추후 취합하기 쉽도록 가공
    converted_month_df = convert_rental_df(month_data, sample_num)

    # create_station_rental : 새로운 월별 집계 데이터프레임 생성 및 대여건수 집계 함수
    month_station_rental = create_station_rental(converted_month_df, month)
    
    # 새로 만들어진 데이터프레임을 month_station_rental_df 리스트에 추가
    month_station_rental_df.append(month_station_rental)

In [10]:
# 월별 집계 데이터프레임 전부 합치기 (2023년 총 데이터로 만들기 위함)
station_rental_2023 = pd.concat(month_station_rental_df)

In [24]:
# 평일인 공휴일 '평일' -> '평일 외'로 변경하기 위해 공휴일 데이터 불러오기
holiday_2023 = pd.read_csv('2023_평일인공휴일.csv', encoding = 'utf-8')

# 마지막 행 null이므로 제거
holiday_2023.drop([14], axis=0, inplace=True)

In [26]:
# 2023년 공휴일 확인 
holiday_2023

          공휴일 이름          날짜 23년도 당시 요일
0     설날 연휴(4-3)  2023-01-24        월요일
1     설날 연휴(4-4)  2023-01-25        화요일
2            삼일절  2023-03-01        수요일
3           노동절   2023-05-01        월요일
4           어린이날  2023-05-05        금요일
5   석가탄신일 대체 공휴일  2023-05-29        월요일
6            현충일  2023-06-06        화요일
7            광복절  2023-08-15        화요일
8      추석연휴(4-1)  2023-09-28        목요일
9      추석연휴(4-2)  2023-09-29        금요일
10     추석연휴(4-4)  2023-10-02        월요일
11           개천절  2023-10-03        화요일
12           한글날  2023-10-09        월요일
13         크리스마스  2023-12-25        월요일

In [30]:
# 날짜를 통해 데이터를 수정할 것이므로 공휴일 날짜 리스트 생성
holiday_2023 = list(holiday_2023['날짜'])

In [39]:
for holiday in holiday_2023:
    # 공휴일 (평일이 아닌데 평일로 분류된) 행들의 index 
    not_week_index = station_rental_2023[station_rental_2023['대여일자'] == holiday].index
    
    # 공휴일 행의 '평일구분'을 '평일' -> '평일 외'로 변경
    station_rental_2023.loc[not_week_index, '평일구분'] = '평일 외'

In [45]:
# 정상적으로 변경된 것 확인 : '2023-09-29'는 원래 수요일이나 추석연휴 였기 때문에 평일 외로 변경
station_rental_2023[station_rental_2023['대여일자'] == '2023-09-28']

             대여일자  대여시간  대여소번호         대여소명  이용건수  평일구분
19440  2023-09-28     0    574     아차산역4번출구     3  평일 외
19441  2023-09-28     1    574     아차산역4번출구     2  평일 외
19442  2023-09-28     2    574     아차산역4번출구     1  평일 외
19443  2023-09-28     3    574     아차산역4번출구     1  평일 외
19444  2023-09-28     4    574     아차산역4번출구     0  평일 외
...           ...   ...    ...          ...   ...   ...
20155  2023-09-28    19   1175  대한항공 인력개발센터     2  평일 외
20156  2023-09-28    20   1175  대한항공 인력개발센터     4  평일 외
20157  2023-09-28    21   1175  대한항공 인력개발센터     3  평일 외
20158  2023-09-28    22   1175  대한항공 인력개발센터     2  평일 외
20159  2023-09-28    23   1175  대한항공 인력개발센터     0  평일 외

[720 rows x 6 columns]

In [48]:
station_rental_2023.to_csv('2023년 대여소별 공공자전거 대여건수(시간대별).csv', index=False)